{% extends 'base.html' %}
{% load static %}
{% block title %}{{ customuser.username }} | TechBookTrade{% endblock %}
{% block contents %}

<div class="card mb-5 text-center">
  <div class="card-body">
    <img src="{% if customuser.thumbnail %}{{ customuser.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle profile-photo">
    <h1>{{ customuser.username }}</h1>
    {% if user.is_authenticated %}
    {% if customuser.id == user.id %}
      <a href="{% url 'accounts:edit' %}" ><i class="fas fa-edit"></i> 編集</a>
    {% endif %}
    {% endif %}
    <hr>
    <div class="col text-center">
          <ul class="list-group list-group-horizontal">

            <a href="{% url 'accounts:wanted' customuser.id %}" ><li class="list-group-item flex-fill"><i class="far fa-heart"></i> 欲しい！された</li></a>
            <a href="{% url 'accounts:wanting' customuser.id %}" class="ml-2"><li class="list-group-item flex-fill"><i class="fas fa-heart"></i> 欲しい！した</li></a>
            <a target="_blank" rel="noopener noreferrer" href="{% if customuser.github_url %}{{ customuser.github_url }}{% else %}./{% endif %}" class="{% if not customuser.github_url %}disabled{% endif %}"><li class="list-group-item flex-fill ml-2"><i class="fab fa-github"></i></li></a>
          </ul>
    </div>
    <h5 class="mt-3">{% if customuser.description %}{{ customuser.description | linebreaks }}{% else %}本文はありません。{% endif %}</h5>
  </div>
</div>

{% for post in object_list %}
{% if customuser.id == post.author.id %}
<div class="card {% if post.traded %}border-success{% endif %} mb-5 text-left">
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <a href="{% url 'accounts:detail' post.author.id %}"><img src="{% if post.author.thumbnail %}{{ post.author.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle profile-post-photo"></a>
      </div>
      <div class="col-9 ml-3">
        <a href="{% url 'accounts:detail' post.author.id %}" class="text-secondary">{{ post.author }}</a><br>
        <small class="text-muted">{{ post.created_at | date:"n月j日 H時i分" }}</small>
      </div>
      {% if post.traded %}
        <div class="col-1 mr-1">
          <img src="{% static 'images/done.png' %}" alt="done">
        </div>
        {% endif %}
    </div>
    <hr>
    <p class="card-text mt-2"><i class="fas fa-book"></i> {{ post.text }}</p>
    <p class="card-text mt-2"><i class="fas fa-at"></i> {{ post.station }}</p>
    <button class="btn btn-link p-0 {% if user in post.get_like %}disabled post-liked text-secondary{% else %}post-like text-success{% endif %}" id="post-like-{{ post.id }}" data-id="{{ post.id }}">
        <i class="far fa-heart"></i> 欲しい！
    </button>
    <span class="badge badge-success" id="like-count-{{ post.id }}">{% if post.get_like %}{{ post.get_like | length }}{% endif %}</span>
    {% if post.author.id == user.id %}
    <form method="get" action="{% url 'timeline:traded' post.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-success p-0 ml-3 {% if post.traded %}disabled{% endif %}" type="submit" onclick='return confirm("交換済みとして登録します。いいですか？");return false;'>
        <i class="fas fa-check"></i> 交換した！
      </button>
    </form>
    <form method="post" action="{% url 'timeline:delete' post.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-success p-0 ml-3" type="submit" onclick='return confirm("この投稿を削除します。いいですか？");return false;'>
        <i class="fas fa-trash-alt"></i> 削除
      </button>
    </form>
    {% endif %}
  </div>

  <a href="{% url 'accounts:post_detail' post.id %}">
  {% if post.post_photo %}
  <img class="card-img-bottom" src="{{ post.post_photo.url }}" alt="Card image cap">
  {% endif %}
  </a>
</div>
{% endif %}
{% endfor %}
{% endblock %}


<!-- デプロイ -->
<!-- wanting, wantedがでない -->