{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
        <a href="{% url 'timeline:index' %}"><img src="{% static 'images/copy.png' %}" alt="TechBookTrade"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'timeline:index' %}"><i class="fas fa-stream"></i> タイムライン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:detail' user.id %}"><i class="fas fa-user-circle"></i> プロフィール</a>
                </li>
                {% endif %}
            </ul>
            
            <form class="form-inline my-2 my-lg-0" action="{% url 'timeline:find' %}" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="Search" name="find">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>

            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> ログアウト</a>
                </li>
                {% endif %}
            </ul>
            
            <ul class="navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i> ログイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}"><i class="fas fa-user"></i> ユーザー登録</a>
                </li>
                {% endif %}
            </ul>
            
        </div>
    </nav>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    <main role="main" class="container">
        <div class="starter-template">
            {% if messages %}
            <div class="w-100">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% block contents %}{% endblock %}
        </div>
    </main>
    <!-- /.container -->
    <p class="mt-5 mb-3 text-muted text-center ">&copy; 2021 TechBookTrade</p>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/notation.js' %}"></script>
</body>
</html>
