{% extends 'base.html' %}
{% load static %}
{% block title %}トップページ | TechBookTrade{% endblock %}
{% block contents %}

<p class="h3">{{ message }}</p>
<hr>

{% for post in posts %}
<div class="card {% if post.traded %}border-success{% endif %} mb-5 text-left">
  
    <div class="card-body">
      <div class="row">
        <div class="col-1">
          <a href="{% url 'accounts:detail' post.author.id %}"><img src="{% if post.author.thumbnail %}{{ post.author.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle profile-post-photo"></a>
        </div>
        <div class="col-9 ml-3">
			<a href="{% url 'accounts:detail' post.author.id %}" class="text-secondary">{{ post.author }}</a><br>
			<small class="text-muted">{{ post.created_at | date:"n月j日 H時i分" }}</small>
		</div>
		{% if post.traded %}
        <div class="col-1 mr-1">
          <img src="{% static 'images/done.png' %}" alt="done">
        </div>
        {% endif %}
      </div>
      <hr>
      <p class="card-text mt-2"><i class="fas fa-book"></i> {{ post.text }}</p>
      <p class="card-text mt-2"><i class="fas fa-at"></i> {{ post.station }}</p>
      <button class="btn btn-link p-0 {% if user in post.get_like %}disabled post-liked text-secondary{% else %}post-like text-success{% endif %} {% if not user.is_authenticated %}disabled{% endif %}" id="post-like-{{ post.id }}" data-id="{{ post.id }}">
          <i class="far fa-heart"></i> 欲しい！
      </button>
      <span class="badge badge-success" id="like-count-{{ post.id }}">{% if post.get_like %}{{ post.get_like | length }}{% endif %}</span>
      {% if post.author.id == user.id %}
	  <form method="get" action="{% url 'timeline:traded' post.id %}" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-link text-success p-0 ml-3 {% if post.traded %}disabled{% endif %}" type="submit" onclick='return confirm("交換済みとして登録します。いいですか？");return false;'>
			<i class="fas fa-check"></i> 交換した！
        </button>
      </form>
      <form method="post" action="{% url 'timeline:delete' post.id %}" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-link text-success p-0 ml-3" type="submit" onclick='return confirm("この投稿を削除します。いいですか？");return false;'>
          <i class="fas fa-trash-alt"></i> 削除
        </button>
      </form>
      {% endif %}
    </div>
    
    <a href="{% url 'accounts:post_detail' post.id %}">
      {% if post.post_photo %}
      <img class="card-img-bottom" src="{{ post.post_photo.url }}" alt="Card image cap">
      {% endif %}
    </a>
</div>
{% endfor %}

{% endblock %}
